<!DOCTYPE html>
<html>
<head>
  <title>leaflet-overpass-lens Demo</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
  <script src="node_modules/leaflet/dist/leaflet.js"></script>
  <script src="dist/leaflet-overpass-lens.js"></script>
<style>
#options {
  position: absolute; left: 0; width: 250px; top: 0; bottom: 0; padding: 0.5em; box-sizing: border-box;
}
#options > input[type=text],
#options > textarea {
  width: 100%; box-sizing: border-box;
  resize: vertical;
}
</style>
</head>

<body>

<form id="options">
  Follow Mouse: <input type='checkbox' name='options.continuous'><br>
  Radius:<br>
  <input type='text' name='options.radius' value='100'><br>
  Overpass Query:<br>
  <textarea name='layerOptions.query'>
(
nwr[building];
nwr[highway];
)</textarea><br>
  Feature Popup Title:<br>
  <textarea name='layerOptions.feature.title'>
{{ tags.name|default(id) }}
  </textarea><br>
  Feature Popup Body:<br>
  <textarea name='layerOptions.feature.body'>
&lt;table&gt;
{% for k, v in tags %}
  &lt;tr&gt;
    &lt;td&gt;{{ k }}:&lt;/td&gt;
    &lt;td&gt;{{ v }}&lt;/td&gt;
  &lt;/tr&gt;
{% endfor %}
&lt;/table&gt;
&lt;hr&gt;
&lt;a target="_blank" href="https://openstreetmap.org/{{ type }}/{{ osm_id }}"&gt;more information&lt;/a&gt;
</textarea>
  Feature Color:<br>
  <textarea name='layerOptions.feature.style.color'>
{% if tags.highway %}
#ff0000
{% else %}
#007fff
{% endif %}
  </textarea>
  Feature Width:<br>
  <textarea name='layerOptions.feature.style.width'>
{% if tags.building %}
1
{% else %}
3
{% endif %}
  </textarea>
</form>
<div id="map" style="position: absolute; left: 250px; right: 0; top: 0; bottom: 0;"></div>
<script src="demo.js"></script>
</body>
</html>
